#product {
  h1 {
    padding: 30px 0;
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .product {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
  }
}

@media (max-width:965px) {
  #product {
    h1 {}

    .product {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
  }
}
@media (max-width:555px) {
  #product {
    h1 {}

    .product {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }
}